.accordion {
    .arrow {
        border-top: 2px solid @black;
        border-left: 2px solid @black;
        height: calc(2 * @heightUnit);
        width: calc(2 * @heightUnit);
        transition: all 250ms ease-in-out;

        &:hover {
            border-width: 4px;
            border-color: @grey-2;
        }

        &.up {
            transform: rotate(45deg);
        }

        &.down {
            transform: rotate(-135deg);
        }
    }
}
