.basket-details {
    max-width: 90%;
    margin: 0 auto;

    .page-title {
        font-size: 40px;
        text-align: center;
    }

    .content {
        margin-top: calc(4 * @paddingUnit);
    }
}
