.item-state {
    &.clean {
        .line {
            border-bottom: 6px solid @green-2;
            width: 50px;
        }

        span {
            text-transform: capitalize;
            color: @green-2;
        }
    }
}
