.item-details {
    max-width: 90%;
    margin: 0 auto;

    .data {
        .name {
            color: @grey;
            text-transform: uppercase;
        }
        .title {
            text-transform: uppercase;
        }

        .description {
            text-align: justify;
            line-height: 1.5;
        }
    }
}

@media screen and (max-width: 760px) {
    .item-details {
        .action-button {
            flex-basis: 100%;
        }
    }
}
