.image {
    img {
        height: calc(50 * @heightUnit);

        &.small {
            height: calc(25 * @heightUnit);
        }

        &.mini {
            height: calc(15 * @heightUnit);

            @media screen and (max-width: 590px) {
                &__small-screen {
                    height: calc(15 * @heightUnit);
                }
            }
        }
    }
}
