.promo-code {
    input {
        border: 1px solid @grey;
        height: 100%;
        border-radius: 20px;
        padding: 0 @paddingUnit;
        width: 100%;

        &:focus-visible {
            outline: unset;
        }
    }
}
