.rate {
    --star-size: calc(2 * @heightUnit);
    --star-color: @white;
    --star-background: @red-2;
    .stars {
        --percent: calc(var(--rating) / 5 * 100%);
        display: inline-block;
        font-size: var(--star-size);
        font-family: Times;
        line-height: 1;

        &::before {
            content: '★★★★★';
            letter-spacing: 3px;
            background: linear-gradient(
                90deg,
                var(--star-background) var(--percent),
                var(--star-color) var(--percent)
            );
            background-clip: initial;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        span {
            font-size: var(--star-size);
        }
    }
}
