#spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);

    & + #content {
        display: none;
    }

    span {
        font-size: 40px;
    }
}
