@paddingUnit: 0.5rem;
@heightUnit: 1vh;
@widthUnit: 1vw;

.paddingT1 {
    padding-top: @paddingUnit;
}

.paddingB1 {
    padding-bottom: @paddingUnit;
}

.marginR1 {
    margin-right: @paddingUnit;
}

.marginT1 {
    margin-top: @paddingUnit;
}

.marginT4 {
    margin-top: calc(4 * @paddingUnit);
}

.flex-container {
    display: flex;

    &.column-container {
        flex-direction: column;

        @media screen and (max-width: 590px) {
            &__small-screen {
                flex-direction: column;
            }
        }
    }

    &.wrap-container {
        flex-wrap: wrap;

        @media screen and (max-width: 760px) {
            &__medium-screen {
                flex-wrap: wrap;
            }
        }
    }

    &.centered-container {
        align-items: center;
        justify-content: center;
    }

    &.vertical-aligned-container {
        justify-content: center;
    }

    &.justified-container {
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 760px) {
            &__medium-screen {
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .column {
        &.with-gap {
            margin-right: @paddingUnit;
        }
        &.stretch {
            flex: 1;

            @media screen and (max-width: 590px) {
                &__small-screen {
                    flex: 1;
                }
            }
        }
    }
}

.invisible {
    @media screen and (min-width: 591px) {
        &__big-screen {
            display: none;
        }
    }

    @media screen and (max-width: 590px) {
        &__small-screen {
            display: none;
        }
    }
}

.bold {
    font-weight: bold;
}
